.bt {
    width: 50%;
    margin: 0.5em;
}
.im {
    height: 500px;
}
.tx {
    font-size: 23pt;
}
.champion {
    width: 100%;
    margin: 0.5em;
}
.cd {
  margin: 0.2em;
}
.footer {
    background: #303036;
    color: #d3d3d3;
    height: 100%;
    margin-top: 1em;
}

.cp {
    color: #ffd700;
}
.bg {
    margin: 0.8em;
} 
.rw {
    margin: 0.5em;
}
.img {
    padding:1px;
    border:5px solid gainsboro;
    background-color: gray
}
.g {
    color: #b22222 ;
}
.i {
    color: red ;
}
.t {
    color: #02b3e4;
}
. {
    color: #02b3e4 ;

}
.f {
    color: #02b3e4 ;

}
.y {
    color: red ;
}
.line {
    border: none;
	height: 1px;
	background: #dddddd;
	width: 50%;
}

.copy {
    border: none;
	height: 1px;
	background: #dddddd;
}
.social a {
    font-size: 4.5em;
    padding: 3rem;
}